a2wsgi==1.10.10
aiomysql==0.3.2
aiosqlite==0.21.0
bcrypt==4.3.0
black==22.1.0
blue==0.9.1
Faker==37.6.0
fastapi==0.116.1
fastapi-cli==0.0.8
fastapi-cloud-cli==0.1.5
fastapi-sessions==0.3.2
fastsession==0.3.0
fonttools==4.59.2
fpdf==1.7.2
greenlet==3.2.4
httpx==0.28.1
isort==6.0.1
Jinja2==3.1.6
jwt==1.4.0
matplotlib==3.10.6
numpy==2.3.2
orjson==3.11.1
pandas==2.3.1
passlib==1.7.4
pillow==11.3.0
pydantic==2.11.7
pydantic-br==1.1.0
pydantic-extra-types==2.10.5
pydantic-settings==2.10.1
PyMySQL==1.1.2
pypika-tortoise==0.6.1
python-dotenv==1.1.1
python-jose==3.5.0
python-multipart==0.0.20
qrcode==8.2
redis==6.4.0
reportlab==4.4.3
requests==2.32.4
rich==14.1.0
rich-toolkit==0.14.9
rignore==0.6.4
sentry-sdk==2.34.1
SQLAlchemy==2.0.42
sqlmodel==0.0.24
tortoise-orm==0.25.1
typer==0.16.0
ujson==5.10.0
uvicorn==0.35.0
uvloop==0.21.0
validate_docbr==1.11.1
watchfiles==1.1.0
websockets==15.0.1
